[Unit]
Description=Hostname monitor service
After=network.target
StartLimitBurst=3
StartLimitInterval=10

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=cloud_usder
ExecStart=/home/cloud_user/.config/systemd/user/hostname_ts.py

[Install]
WantedBy=multi-user.target
